.shopContainer {
    width: 100%;
  
}
.shopContainer h1 {
    text-align: center;
    color: #fcf27a;
    margin: 10px 0;;
}
.productsContainer {
    text-align: center;
    margin-bottom: 15px;
}
.pageBanner {
   
    border-bottom: 5px solid #fcf27a;
    
    
}
.pageBanner h2 {
    padding-left: 5%;
    color: #deabfe;
   
}
