.order_container {
    
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #deabfe;
    border-radius: 50px;
    padding: 20px 20px;
}

.data_container {
    margin-right: 10px;
}
.linkbreak {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.linkbreak:hover {
    color: #fcf27a;
}
.itemImage {
    height: 100px;
}