.container {
    display: flex;
    background-color: black;
    margin-bottom: 20px;
    font-size: 11px;
    flex-wrap: wrap;
}
.card {
    margin: 0 10px;
}
.label {
    color: #fcf27a;
}
.solanaData{
    color: white;
}
.name {
    width: 65px;
}


.subContainer {
    display: flex;
    justify-content: center;
}
.marketTitle{
    margin: 0;
    color: #fcf27a;
    margin-top: 4px;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
}
.table th{
    color: #deabfe;
}
.table td {
    color: white;
}


/* @media only screen and (max-width: 768px) {
    .container{
        display: none;
    }
    
} */